{% extends 'base.html' %}

{% block head %}
{% endblock %}




{% block body %}
<div class='content'>
    <h1 style="text-align: center">Poker Split</h1>
    <h3 style="text-align: center">Player List</h3>
    <form action="/" method="POST">
        <input type="hidden" name="btn_identifier" value="clearPlayerList" />
        <input type="submit" value="Clear Player List">
    </form>

    {% if players|length<1 %}

    <h4 style="text-align: center"> No players yet </h4>

    {% else %}
  
        <table>
            <tr>
                <th>Name</th>
                <th>Chips remaining</th>
                <th>Money invested (in dollars)</th>
                <th>Preferred financial partner (separated by ;)</th>
                <th></th>
            </tr>
            {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{{ player.chips_remaining }}</td>
                    <td>{{ player.money_invested }}</td>
                    <td>{{ player.preferred_financial_partner }}</td>
                    <td>
                        <a href="/delete/{{player.id}}">Delete</a>
                        <br>
                        <a href="/update/{{player.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
 
    <form action="/" method="POST">
        <br>
        <input type="hidden" name="btn_identifier" value="playerList" />
        <input type="submit" value="Add Player">
        <table>
            <tr>
              <td align="right">Player Name:</td>
              <td align="left"><input type="text" name="name", id="name", value=""/></td>
            </tr>
            <tr>
              <td align="right">Chips Remaining:</td>
              <td align="left"><input type="text" name="chips", id="chips", value=""/></td>
            </tr>
            <tr>
              <td align="right">Money invested (in dollars):</td>
              <td align="left"><input type="text" name="money", id="money", value=""/></td>
            </tr>
            <tr>
              <td align="right">Preferred financial partner:</td>
              <td align="left"><input type="text" name="partner", id="partner", value=""/></td>
            </tr>
        </table>
    </form>
    <form action="/" method="POST">
        <br>
        <input type="hidden" name="btn_identifier" value="playerTransactions" />
        <input type="submit" value="Calculate">
    </form>
    <form action="/" method="POST">
        <br>
        <input type="hidden" name="btn_identifier" value="clearTransactions" />
        <input type="submit" value="Clear Result">
    </form>
    <label> {{slateOutput | safe}} </label> <br>
    
</div>

{% endblock %}
