{% extends 'base.html' %}

{% block head %}
{% endblock %}




{% block body %}
<div class='content'>
    <h1 style="text-align: center">Poker Split</h1>
    <h3 style="text-align: center">Player List</h3>

    {% if players|length<1 %}

    <h4 style="text-align: center"> No players yet </h4>

    {% else %}
  
        <table>
            <tr>
                <th>Name</th>
                <th>Chips remaining</th>
                <th>Money invested</th>
                <th>Prefered financial partner</th>
                <th>Actions</th>
            </tr>
            {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{{ player.chips_remaining }}</td>
                    <td>{{ player.money_invested }}</td>
                    <td>{{ player.prefered_financial_partner }}</td>
                    <td>
                        <a href="/delete/{{player.id}}">Delete</a>
                        <br>
                        <a href="/update/{{player.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
 
    <form action="/" method="POST">
        <input type="text" name="name", id="name", value="Player Name">
        <br>
        <input type="text" name="chips", id="chips", value="Chips Remaining">
        <br>
        <input type="text" name="money", id="money", value="Money invested (in dollars)">
        <br>
        <input type="text" name="partner", id="partner", value="Prefered financial partner">
        <br>
        <input type="submit" value="Add Player">
    </form>
    
</div>

{% endblock %}
